{{ form_start(form) }}
Name
    {{ form_widget(form.name) }}

    <br>Description
        {{ form_widget(form.description,  {'attr': {'class': 'form-control'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
