{% extends 'base.html.twig' %}

{% block title %}Strip index{% endblock %}

{% block body %}
    <h1>Strip index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for strip in strips %}
            <tr>
                <td>{{ strip.id }}</td>
                <td>{{ strip.name }}</td>
                <td>{{ strip.description }}</td>
                <td>
                    <a href="{{ path('app_strips_show', {'id': strip.id}) }}">show</a>
                    <a href="{{ path('app_strips_edit', {'id': strip.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_strips_new') }}">Create new</a>
{% endblock %}
