<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/styles/global.scss') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{{ path('app_accueil') }}">Strip</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="justify-content-end collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_strips_index') }}">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_random_strip') }}">RandomStrip</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_about') }}">About</a>
    </li>
    </ul>
</div>
</nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
